<%- include("partials/header.ejs") %>
<main id="posts">
        <% if(locals.posts.length!=0){ %>
                <h2> Read my awesome blog posts </h2>
                <div class="container-fluid pb-5">
                    <% for( var i = 0; i < posts.length ; i++ ){ %>
                        <div class="card my-3">
                            <div class="card-header">
                                <h3><%= posts[i].title  %></h3>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">
                                    By: <%= posts[i].name %>
                                </h6>
                                <hr>
                                <p class="card-text">
                                    <%= posts[i].content %>
                                </p>
                                <div class="d-flex">
                                    <form method="get" action="/edit"  class="me-3">
                                        <input type="hidden" name="idPost" value="<%= posts[i].id %>">
                                        <button type="submit" class="btn btn-secondary">Update</button>
                                    </form>
                                    <form method="get" action="/delete">
                                        <input type="hidden" name="postId" value="<%= posts[i].id %>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <%  } %>
                </div>
                <% } else { %>
                    <h2>
                        There is no content yet, be first person who post something
                    </h2>
       <% } %>
<%- include("partials/footer.ejs") %>


